body {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
}
h1 {
    margin-bottom: 10px;
}
h6 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.calculator-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 600px;
    width: 450px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    padding: 25px;
    background-color: gray;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 100%;
    margin-bottom: 25px;
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: lightgray;
}

.previous-operation {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

#display {
    display: flex;
    flex: 2;
    justify-content: right;
    align-items: end;
    padding: 10px;
    font-size: 45px;
    font-family: "Courier New", monospace;;
}

.buttons-grid {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.buttons-grid div {
    display: flex;
    flex: 1;
    gap: 15px;
}

.buttons-grid button {
    font-size: 30px;
}

.editor-buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}

.editor-buttons button {
    display: flex;
    flex: 1;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

#clear {
    background-color: rgb(248, 84, 84);
}

#delete {
    background-color: rgb(241, 193, 201);
}

.numbers button {
    display: flex;
    flex: 1;
    margin-top: 15px;
    border-radius: 8px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}